h1{
    color: red;
}
h2{
    color: blue;
}

p{
    background-color: red;
    font-weight: bold;
    font-size: xx-large;
}

#souligner{
    text-decoration: underline;
}

.italic{
    font-style: italic ;
}